*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

button,
label {
  cursor: pointer;
}

input {
  display: inline;
  font: inherit;
  border-radius: 4px;
  border: solid #2196f3;
  width: 200px;
  height: 40px;
  padding-left: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
  border-radius: 2px;
}

.value {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 24px;
}

button {
  display: inline-flex;
  margin-left: 4px;
  margin-right: 4px;
  border: 0;
  background-color: #2196f3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #212121;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  height: 40px;
}

button.is-active {
  background-color: #2196f3;
}

fieldset {
  display: flex;
  width: 360px;
  margin-bottom: 10px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

button,
label {
  cursor: pointer;
}

input {
  display: inline;
  font: inherit;
  border-radius: 4px;
  border: solid #2196f3;
  width: 200px;
  height: 40px;
  padding-left: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
  border-radius: 2px;
}

.value {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 24px;
}

button {
  display: inline-flex;
  margin-left: 4px;
  margin-right: 4px;
  border: 0;
  background-color: #2196f3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #212121;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  height: 40px;
}

button.is-active {
  background-color: #2196f3;
}

fieldset {
  display: flex;
  width: 360px;
  margin-bottom: 10px;
}
