a {
  text-decoration: none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: start;
  justify-content: center;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;
}

label {
  width: 360px;
  min-height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  margin-top: 8px;
}

input:hover {
  outline: auto;
}

input:focus {
  outline: transparent;
}

label {
  width: 360px;
  min-height: 112px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  margin-top: 8px;
  resize: none;
}

textarea:hover {
  outline: auto;
}

textarea:focus {
  outline: transparent;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  border: transparent;
  transition: color 250ms ease-in-out;
}

button:hover {
  background: #6c8cff;
  cursor: pointer;
}
